@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root {
    --background: #16161d;
    --primary: darkolivegreen;
    --secondary: aliceblue;
    --tertiary: cadetblue;
}

body {
    font-family: 'Sen';
    background-color: var(--background);
    padding: 3%;
}

h1 {
    font-size: 3rem;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 0.75rem;
    /*margin: auto;*/
}

.main.space {
    gap: 4rem;
}


.main.wrapper {
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    align-items: center;
}

.main.box {
    /*height: auto;*/
    margin: auto;
    align-items: center;
    padding: 1%;
}

.main.box.title {
    background-color: var(--primary);
    width: 50%;
}

.main.box.graph {
    background-color: var(--primary);
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.main.box.graph img {
    /*background-color: var(--secondary);*/
    opacity: 0;
    object-fit: contain;
    height: 10rem;
    transition: 0s; /*change*/
}

.main.box.account {
    background-color: var(--secondary);
    width: 45%;
}

.main.box.action {
    /*display: block;*/
    background-color: var(--tertiary);
    width: 25%;
    gap: 0.5rem;
    padding: 2%;
}

.main.box.action span {
    width: 100%;
}

.main.box.action div {
    text-align: center;
    width: 100%;
}


.main.box.action, .main.box.multiplayer button {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 0.2rem;
    border: none;
    height: 1.7rem;
}

.main.box.action, .main.box.multiplayer input {
    background-color: var(--background);
    border: none;
    border-radius: 0.2rem;
    height: 1.5rem;
}


.main.box.action button {
    width: 95%;
    transition: 1s;
}

.main.box.action input {
    width: 0%;
    pointer-events: none;
    transition: 1s;
}

.main.box.multiplayer {
    color: var(--secondary);
    width: 25%;
}

.main.box.multiplayer input {
    width: 98%;
    height: 2rem;
    color: var(--secondary);
    border-color: var(--secondary);
    border-style: solid;
    text-align: center;
    font-size: large;
}

.main.box.multiplayer button {
    width: 100%;
    transition: 0.6s;
    margin-top: 3rem;
}

.main.box.multiplayer button:hover {
    transform: scale(1.5);
    width: 50%;
    transition: 0.6s;
}