<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="end_screen.css">
    <title>Flask Web App</title>
</head>
<body>
    <div class="container">
        <div class="place_box">
            <div class="fish fishy">
                <div class="f_head" id="fishy">
                    <div class="f_eye"></div>
                </div>
                <div class="f_body" id="fishy"></div>
                <div class="f_tail" id="fishy_t"></div>
            </div>
            <p>Fishy</p>
        </div>

        <div class="place_box">
            <div class="fish swishy">
                <div class="f_head" id="swishy">
                    <div class="f_eye"></div>
                </div>
                <div class="f_body" id="swishy"></div>
                <div class="f_tail" id="swishy_t"></div>
            </div>
            <p>Swishy</p>
        </div>

        <div class="place_box">
            <div class="fish mishy">
                <div class="f_head" id="mishy">
                    <div class="f_eye"></div>
                </div>
                <div class="f_body" id="mishy"></div>
                <div class="f_tail" id="mishy_t"></div>
            </div>
            <p>Mishy</p>
        </div>

        <div class="place_box">
            <div class="fish usishy">
                <div class="f_head" id="usishy">
                    <div class="f_eye"></div>
                </div>
                <div class="f_body" id="usishy"></div>
                <div class="f_tail" id="usishy_t"></div>
            </div>
            <p id="loser_text">You came 97th</p>
        </div>
        <!-- <div class="logo">
            <p>FishFolio</p>
        </div> -->
    </div>
</body>
</html>
