<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <form id="game" method="POST" action="{{ url_for('load_lobby')}}">
        <input type="text" name="display_name" id="display_name" placeholder="Display Name">
        <input type="submit" name="action" value="Create Room">
        <input type="text" name="room_code" id="room_code" placeholder="Room Code">
        <input type="submit" name="action" value="Join Room">
    </form>
</body>
</html>