<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishFolio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
<body>
    <div class="main space">
        <div class="main wrapper">
            <div class="main box title">
                <img src="../static/logo_new.png">
            </div>
        </div>
        <div class="main wrapper">
            <div class="main box multiplayer">
                <h2>CODE:</h2>
                <input type="text" inputmode="numeric" id="codeInput" style="text-transform: uppercase;">
                <h2>NAME:</h2>
                <input id="nameInput">
                <button id="lobbyButton" onclick="lobbyFunc()">CREATE LOBBY</button>
            </div>
        </div>
    </div>

    <script>
        let codeInput = document.getElementById("codeInput");
        let nameInput = document.getElementById("nameInput");
        let lobbyButton = document.getElementById("lobbyButton");

        codeInput.addEventListener('input', function (evt) {
            if(this.value=="") {
                lobbyButton.innerText = "CREATE LOBBY";
            } else {
                lobbyButton.innerText = "JOIN LOBBY";
            }
        });

        function lobbyFunc() {
            // ADD MULTIPLAYER FUNCTIONS IN HERE
            if(nameInput.value!="") {
                console.log(nameInput.value);
                if(lobbyButton.innerText=="CREATE LOBBY") {
                    console.log('creating lobby');
                } else {
                    console.log('joining lobby '+codeInput.value.toUpperCase());
                }
            }
        }
    </script>
</body>
</html>