<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="logo_anim.css">
    <title>Flask Web App</title>
</head>
<body>
    <div class="container">
        <div class="container anim"></div>
        <div class="line l1"></div>
        <div class="line l2"></div>
        <div class="line l3"></div>
        <div class="line l4"></div>
        <div class="fish">
            <div class="f_head">
                <div class="f_eye"></div>
            </div>
            <div class="f_body"></div>
            <div class="f_tail"></div>
        </div>
        <div class="logo">
            <p>FishFolio</p>
        </div>
    </div>
    <!-- <div class="container anim"></div> -->
</body>
</html>
