<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishFolio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        var timerloop;
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                var seshKey = getCookie("seshKey");
                socket.emit('getPlayer', {"data": seshKey});
                gameLoop(0);
                // socket.emit('connect')
            });
            socket.on('getKey', function(msg) {
                
                setCookie("seshKey",msg.data,7); //set cookie for 7 days
            });


            socket.on("show_round", function(msg){
                console.log("WTFFFF");
                gameLoop(msg.data);
                document.getElementById("stockHeld").innerHTML = "Stock Held: " + msg.stock;
                document.getElementById("freeFunds").innerHTML = "Free Funds: " + msg.ff;
            })
        });
    </script>

    
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js"></script>
    <link href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="main space">
        <div class="main wrapper">
            <div class="main box title">
                <img src="../static/logo_new.png">
            </div>
            <div class="main box account">
                <p>Leaderboard:</p>
                <h2>P1</h2>
                <h2>P2</h2>
            </div>
        </div>
        <div class="main wrapper">
            <div class="main box graph" id="graphBox"></div>
        </div>
        <div class="main wrapper">
            <div class="main box account">
                <p id="demo"></p>
                <h2 id="stockHeld">Stock Held:</h2>
                <h2 id="freeFunds">Free Funds: 10000</h2>
            </div>
            <div class="main box action">
                <span>
                    <input type="text" inputmode="numeric" id="buyInput">
                    <button id="buyButton" onclick="buyAnimation()">Buy</button>
                </span>
                <span>
                    <input type="text" inputmode="numeric" id="sellInput">
                    <button id="sellButton" onclick="sellAnimation()">Sell</button>
                </span>
                <div>
                    <button id="waitButton" style="width: 100%" onclick="waitAnimation()">Wait</button>
                </div>
                
            </div>
        </div>
    </div>

    <script>
        const data = {{market_data | tojson}};
        var GLOBAL_N = 0;
        var max = Math.max(...[].concat(...data));
        var min = Math.min(...[].concat(...data));
        var diff = Math.max(max - data[0][0], data[0][0] - min);
        diff = diff * 1.05;
        max = data[0][0] + diff;
        min = data[0][0] - diff;

        let buyInput = document.getElementById("buyInput")
        let sellInput = document.getElementById("sellInput")
        let buyButton = document.getElementById("buyButton")
        let sellButton = document.getElementById("sellButton")
        let waitButton = document.getElementById("waitButton")
        let graphBox = document.getElementById("graphBox")
        var graphs = [];
        let graphCount = data.length;
        let graphWidth = Math.floor(100/graphCount);
        //let gapWidth = (100 - graphCount*graphWidth)/(graphCount-1)

        for(var i=0; i<graphCount; i++) {
            //graphBox.innerHTML = graphBox.innerHTML+"<img id=\""+i.toString()+"\" style=\"width:"+graphWidth.toString()+"%;\">";
            graphBox.innerHTML = graphBox.innerHTML+"<canvas id=\""+i.toString()+"\" style=\"width:"+graphWidth.toString()+"%;\"></canvas>";
        }
        for(var i=0; i<graphCount; i++) {
            graphs.push(document.getElementById(i.toString()))
        }
        //graphBox.style.gap = gapWidth.toString()+"%";

        function resetBuy() {
            buyButton.style.width = "95%";
            buyInput.style.pointerEvents = "";
            buyInput.style.width = "0%";
        }

        function buyAnimation() {
            if(buyInput.style.pointerEvents=="") {
                // anim
                buyButton.style.width = "50%";
                buyInput.style.pointerEvents = "auto";
                buyInput.style.width = "45%";
                
                // reset others
                resetSell()
                resetWait()
            } else {
                console.log(buyInput.value);
                // TODO call buy function
                socket.emit('action', {"action": 'buy',"qty":buyInput.value,"lobby_code":"{{ session['code'] }}" });
                resetBuy()
                resetSell()
                resetWait()
                nextGraph(GLOBAL_N)
                GLOBAL_N++;
            }
        }

        function resetSell() {
            sellButton.style.width = "95%";
            sellInput.style.pointerEvents = "";
            sellInput.style.width = "0%";
        }

        function sellAnimation() {
            if(sellInput.style.pointerEvents=="") {
                // anim
                sellButton.style.width = "50%";
                sellInput.style.pointerEvents = "auto";
                sellInput.style.width = "45%";
                
                //reset
                resetBuy()
                resetWait()
            } else {
                console.log(sellInput.value);
                // TODO call sell function
                socket.emit('action', {"action": 'sell',"qty":buyInput.value,"lobby_code":"{{ session['code'] }}" });
                resetBuy()
                resetSell()
                resetWait()
                nextGraph(GLOBAL_N)
                GLOBAL_N++;
            }
        }

        function resetWait() {
            waitButton.style.width = "100%";
        }

        function waitAnimation() {
            if(waitButton.style.width=="100%") {
                // anim
                waitButton.style.width = "50%";
                
                //reset others
                resetBuy()
                resetSell()
            } else {
                console.log('wait');
                socket.emit('action', {"action": 'wait',"qty":0,"lobby_code":"{{ session['code'] }}" });
            }
        }

        /**
         * next graph image is set to base64string
         * if this is the final graph (i.e. end of trade day) true is returned
         * otherwise, it returns false 
         * in the case where all graphs are already displayed, null is returned
         * */
        
// Update the count down every 1 second
    var secondsleft;
        function gameLoop(index){
            secondsleft = 5;
            nextGraph(index); // when does thomas does his thing lobby created show graph
            timerloop = setInterval(function() { // timer shit

            // Get today's date and time
            secondsleft = secondsleft -1;
            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = secondsleft;

            // If the count down is finished, write some text
            if (secondsleft <= 0) {
                clearInterval(timerloop);
                socket.emit('action', {"action": 'end',"qty":0,"lobby_code":"{{ session['code'] }}" });
            }}, 1000
            );
            
            
        }


        function nextGraph(base64string) {
            if(graphs[graphCount-1].style.display!="inline") {
                for(var x=0; x<graphCount; x++) {
                    if(graphs[x].src=="") {
                        graphs[x].style.opacity = "1";
                        graphs[x].src = "data:image/png;base64,"+base64string;
                        if(x==graphCount-1){
                            console.log('round done')
                            return true;
                        } else {
                            return false;
                        }
                    }
                resetBuy()
                resetSell()
                resetWait()
                nextGraph(GLOBAL_N)
                GLOBAL_N++;
            }
        }
        }

        
        function nextGraph(x) {
            if(x<graphCount) {
                var ctx = graphs[x].getContext('2d');
                ctx.beginPath();
                for (var i = 0; i < data[x].length; i++) {
                    //console.log(i * graphs[x].width/(data[x].length-1))
                    //console.log(graphs[x].height*(1 - (data[x][i]-min)/(max-min)))
                    ctx.lineTo(i * graphs[x].width/(data[x].length-1), graphs[x].height*(1 - (data[x][i]-min)/(max-min)));
                }
                ctx.stroke();
                return true;
            } else {
                return false;
            }

                    /*
                    if(x==graphCount-1){
                        console.log('round done')
                        return true;
                    } else {
                        return false;
                    }*/
                //}
            //}
        }

        /**
         * clears all graphs
         * */
        function resetGraphs() {
            for(var x=0; x<graphCount; x++) {
                var context = canvases[x].getContext('2d');
                context.clearRect(0, 0, canvas.width, canvas.height);
            }
        }
    </script>
</body>
</html>